{
    "extends": [
      "airbnb-base",
      "prettier"
    ],
    "plugins": [
      "prettier"
    ],
    "rules": {
        "no-console": 0,
        "no-unused-vars": 0,
        "no-plusplus": [
            2,
            {
              "allowForLoopAfterthoughts": true
            }
          ],
          "prettier/prettier": [
            "error",
            {
              "singleQuote": true,
              "trailingComma": "all"
            }
          ]
    }
}